* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: all 0.3s ease;
}

/* lista */
.c-lista {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.c-lista-pokemon {
    background: linear-gradient(to top right, #e0f7fa, #ffffff);
    width: calc(50% - 7.5px);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.c-lista-pokemon:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

/* navegacion */
.c-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #757f9a, #d7dde8);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px 18px;
    gap: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.c-nav-item {
    width: calc(25% - 10px);
    background-color: #7bffbb;
    color: rgb(17, 16, 16);
    padding: 12px 0;
    border-radius: 12px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.c-nav-item:hover {
    background-color: #8ee9df;
    transform: scale(1.05);
    color: #0b0b0a;
}
